<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js" charset="utf-8"></script>
    <title>dejaBlue</title>
  </head>
  <body>
    <div class="background"></div>
    <div class="container">
      <header>
        <h1><a href="/">dejaBlue</a></h1>
        <nav>
          <ul>
            <li><a href="/videos">videos</a></li>
            <li><a href="/videos/new">add video</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <%- body %>
      </main>
      <footer>
        <p class="credit">Made with code</p>
      </footer>
    </div>
  </body>
</html>
