<h1>login</h1>

<form method="post" action="/login">
  <label for="email">email</label>
  <input type="text" id="email" name="email">

  <label for="password">password</label>
  <input type="password" id="password" name="password">

  <br><br>

  <input type="submit" value="Login" class="button-primary">
</form>
